* {
    margin: 0px;
    padding: 0px;
    font: 12px 고딕;
  }
  header {
    width: 100%;
    height: 197px;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  ol,
  li {
    list-style-type: none;
  }
  .top {
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .top > div {
    height: 100%;
    width: 1200px;
    text-align: right;
    margin: 0 auto;

    box-sizing: border-box;
  }
  .top > div > a {
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
  }

  .logo {
    height: 115px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .logo > div {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .logo > div > a > img {
    position: absolute;
    top: 30px;
  }
  .logo form.search {
    position: relative;
    top: 40px;
    left: 430px;
    width: 100%;
  }
  .logo .search > input {
    width: 400px;
    height: 35px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .logo .search > button#search {
    position: absolute;
    top: 10px;
    left: 375px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-sizing: border-box;
  }
  .logo .search > #search > i {
    font-size: 20px;
  }

  /* 리스트 페이지 헤더 nav 추가 */
  header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }

  header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
  }
  header > .menu > div > ul:nth-child(1) {
    float: left;
  }
  header > .menu > div > ul:nth-child(2) {
    float: right;
  }
  header > .menu > div > ul > li {
    float: left;
  }

  header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
  }

  header > .menu > div > ul > li > a:last-child {
    border-right: 1px solid #e9e9e9;
  }

  /* 상품 list main */
  main {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  /* List main aside */
  main > aside {
    float: left;
    width: 215px;
    height: 100%;
  }
  main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
  }
  main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
  }
  main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
  }
  main > aside > .category li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
  }
  main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
  }

  /* 세부적인 카테고리 */
  main > aside > .category > li > a:hover + ol{
    display: block;
  }

  main > aside > .category ol:hover{
    display: block;
  }

  main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
  }

  main > aside > .category > li i.fa-angle-right{
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }
  main > aside > .category ol{
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 10000;
  }
  main > aside > .category ol > li{
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
  }
  main > aside > .category ol > li > a:hover{
    color: #41ab47;
    text-decoration: underline;
  }
  /* List main aside main */
  main > aside > .best{
    width: 215px;
    height: auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(55, 55, 5, 0.2);
  }
  main > aside > .best > h1{
    font-size: 14px;
    font-weight: bold;
    color: #111;
    margin: 6px;
  }
  main > aside > .best > h1 > i{
    margin-right: 6px;
    font-size: 18px;
  }
  main > aside > .best > ol{
    width: 100%;
  }
  main > aside > .best > ol > li{
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  main > aside > .best > ol > li > a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  main > aside > .best > ol > li > a:hover h2{
    text-decoration: underline;
  }
  main > aside > .best > ol > li > a > .thumb{
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
  }
  main > aside > .best > ol > li:first-child > a > .thumb{
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  main > aside > .best > ol > li > a > .thumb > i{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 18px;
  }
  main > aside > .best > ol > li:first-child > a > .thumb > i{
    width: 35px;
    height: 26px;
  }
  main > aside > .best > ol > li > a > .thumb > img{
    width: 100%;
  }
  main > aside > .best > ol > li > a > article{
    float: left;
    width: 148px;
    padding-left: 6px;
    box-sizing: border-box;
  }
  main > aside > .best > ol > li > a h2{
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }
  main > aside > .best > ol > li > a .org_price{}
  main > aside > .best > ol > li > a .org_price > del::after{
    content: "원";
  }
  main > aside > .best > ol > li > a .org_price > del{
    font-size: 10px;
    color: #aaa;
  }
  main > aside > .best > ol > li > a .org_price > span{
    color: #eb000a;
    font-size: 10px;
  }
  main > aside > .best > ol > li > a .org_price > span::after{
    content: "원";
  }
  main > aside > .best > ol > li > a .dis_price{}
  main > aside > .best > ol > li > a .dis_price > ins{
    font-size: 14px;
    text-decoration: none;
  }
  main > aside > .best > ol > li > a .dis_price > ins::after{
    content: "원";
  }
  main > aside > .best > ol > li > a .dis_price > span{
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url("../img/ico_freeshipping.gif") no-repeat;
  }
  /* list main section */

  
  /* nav */
  section > nav {
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
  }
  section > nav > h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }
  section > nav > p {
    float: right;
  }
  /* 상품 list main 끝 */

  footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
  }
  footer > ul > li {
    display: inline-block;
    border-left: 1px solid #d7d7d7;
    box-sizing: border-box;
    padding: 0 10px;
  }
  footer > ul > li:last-child {
    border-right: 1px solid #d7d7d7;
  }
  footer > div {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
  }
  footer > div > p {
    float: left;
    margin-right: 50px;
    line-height: 15px;
    font-size: 11px;
    color: #676767;
  }
  footer > div > p > strong {
    font-weight: bold;
    line-height: 25px;
  }
  div.topBtn {
    position: fixed;
    bottom: 5px;
    right: 300px;
  }