* {
    margin: 0px;
    padding: 0px;
    font: 12px 고딕;
  }
  header {
    width: 100%;
    height: 197px;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  ol,
  li {
    list-style-type: none;
  }
  .top {
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .top > div {
    height: 100%;
    width: 1200px;
    text-align: right;
    margin: 0 auto;

    box-sizing: border-box;
  }
  .top > div > a {
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
  }

  .logo {
    height: 115px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  .logo > div {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .logo > div > a > img {
    position: absolute;
    top: 30px;
  }
  .logo form.search {
    position: relative;
    top: 40px;
    left: 430px;
    width: 100%;
  }
  .logo .search > input {
    width: 400px;
    height: 35px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .logo .search > button#search {
    position: absolute;
    top: 10px;
    left: 375px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-sizing: border-box;
  }
  .logo .search > #search > i {
    font-size: 20px;
  }

  /* 리스트 페이지 헤더 nav 추가 */
  header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }

  header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .menu > div > ul:nth-child(1) {
    float: left;
  }
  header > .menu > div > ul:nth-child(2) {
    float: right;
  }
  header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
  }
  header > .menu > div > ul > li {
    float: left;
  }

  header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
  }

  header > .menu > div > ul > li > a:last-child {
    border-right: 1px solid #e9e9e9;
  }

  /* 상품 list main */
  main {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  main#procuct {
  }

  /* List main aside */
  main > aside {
    float: left;
    width: 215px;
    height: 100%;
  }
  main .category {
    width: 100%;
    height: 425px;
    background: #333949;
    position: relative;
  }
  main .category > li:first-child {
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
  }

  main .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
  }

  main .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
  }
  main .category > li > a:hover {
    background: #2b313f;
    color: #fff;
  }
  main .category li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
  }
  main .category li > a:hover {
  }
  main .category li > ol {
  }
  main .category li > ol > li {
  }

  /* list main section */
  /* nav */
  section > nav {
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
  }
  section > nav > h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }
  section > nav > p {
    float: right;
  }
  /* 상품 list main 끝 */

  footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
  }
  footer > ul > li {
    display: inline-block;
    border-left: 1px solid #d7d7d7;
    box-sizing: border-box;
    padding: 0 10px;
  }
  footer > ul > li:last-child {
    border-right: 1px solid #d7d7d7;
  }
  footer > div {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
  }
  footer > div > p {
    float: left;
    margin-right: 50px;
    line-height: 15px;
    font-size: 11px;
    color: #676767;
  }
  footer > div > p > strong {
    font-weight: bold;
    line-height: 25px;
  }
  div.topBtn {
    position: fixed;
    bottom: 5px;
    right: 300px;
  }